<div>
    <h3>Applying for Tutoring</h3>
    <div class='app-form'>
        <app-requirement-card></app-requirement-card>

        <mat-form-field>
            <mat-label>Subjects</mat-label>
            <mat-select multiple>
                <mat-option value="one">Maths</mat-option>
                <mat-option value="two">Science</mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field>
            <mat-label>Hours from:</mat-label>
            <input matInput type="number">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Hours to</mat-label>
            <input matInput type="number">
            <mat-hint>end hour for teaching</mat-hint>
        </mat-form-field>

    </div>
</div>