<form class="form-container" [formGroup]="application">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Applying for a Tutor</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-form-field class="full-width">
                    <mat-label>Describe</mat-label>
                    <textarea matInput formControlName="heading" placeholder="Describe" required></textarea>
                </mat-form-field>

            </div>
            <div>
                <mat-form-field class="full-width">
                    <mat-label>Day</mat-label>
                    <input formControlName="day" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="full-width">
                    <mat-label>Subjects</mat-label>
                    <mat-select formControlName="subject">
                        <mat-option value="math">Maths</mat-option>
                        <mat-option value="science">Science</mat-option>
                        <mat-option value="science">English</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="full-width">
                    <mat-label>Level</mat-label>
                    <mat-select formControlName="level">
                        <mat-option value="one">Elementary</mat-option>
                        <mat-option value="two">Middle</mat-option>
                        <mat-option value="two">High</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="error" *ngIf="curAppId!=0" (click)="delete()">Delete</button>
            <button mat-raised-button color="secondry" *ngIf="curAppId!=0" (click)="update()">Update</button>
            <button mat-raised-button color="primary" *ngIf="curAppId===0" (click)="create()">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>
<div *ngIf="curAppId!=0">
    <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let req of openedRequirementsForCurrJobType" [value]="">
            <mat-icon mat-list-icon>person</mat-icon>
            <div matLine>
                {{req.title}} ({{req.id}})
            </div>
            <div matLine> {{req.user?.userName}} ({{req.user?.id}}) </div>
            <div align="end" matLine>
                <button mat-raised-button color="primary" (click)="acceptApplication(req.id)">Accept</button>
            </div>
        </mat-list-option>
    </mat-selection-list>

</div>