
<form class="form-container" [formGroup]="application">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Appying for a Pet Care</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="full-width">
                    <mat-form-field class="full-width">
                        <mat-label>Describe</mat-label>
                        <textarea matInput formControlName="heading" placeholder="Describe" required></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Day</mat-label>
                            <input formControlName="day" matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Pets</mat-label>
                        <mat-select formControlName="subject">
                            <mat-option value="math">Cat</mat-option>
                            <mat-option value="science">Dog</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Level</mat-label>
                        <mat-select formControlName="grade">
                            <mat-option value="one">Elementary</mat-option>
                            <mat-option value="two">Middle</mat-option>
                            <mat-option value="two">High</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="error" *ngIf="curAppId!=0" (click)="delete()">Delete</button>
            <button mat-raised-button color="secondry" *ngIf="curAppId!=0" (click)="update()">Update</button>
            <button mat-raised-button color="primary" *ngIf="curAppId===0" (click)="create()">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>
