<div class='page-header'>
  <mat-card-header>
    <mat-card-title>My Accepted Requirements</mat-card-title>
  </mat-card-header>
</div>

<div *ngIf="requirements.length===0" class='not-found'>
  You do not have any appointments.
</div>

<mat-list>
  <mat-list-item ngClass='mat-card' *ngFor="let req of requirements">
    <mat-icon mat-list-icon>{{req.requirement.jobType?.iconName}}</mat-icon>

    <div matLine>
      {{req.application.user?.userName}} is helping you with {{req.application.jobType?.type}}.
    </div>

    <div matLine>&nbsp;</div>
    <div matLine> You asked for {{req.requirement.title}}</div>
    <div matLine>&nbsp;</div>
    <div matLine class="req-title">
      and accepted {{req.application.user?.firstName||req.application.user?.userName}}'s help
      {{req.application.heading}}
    </div>
  </mat-list-item>
</mat-list>