<mat-selection-list multiple="false">
    <mat-list-option routerLink="/login" [routerLinkActive]="['is-active']">
        <mat-icon matListIcon>
            account_circle
        </mat-icon>
        <h1 matLine>{{user.firstName||user.userName}} {{user.lastName||''}}</h1>
        <div matLine>{{user.emailAddress}}</div>
        <div matLine></div>
    </mat-list-option>
    <mat-list-option routerLink="/" [routerLinkActive]="['is-active']"> 
        <mat-icon matListIcon>
            home
        </mat-icon>
        <h1 matLine class='home'>C.U.M.I</h1> 

    </mat-list-option>
    <mat-list-option [routerLinkActive]="['is-active']" routerLink="/open-reqs">
        <mat-icon matListIcon> edit_calendar</mat-icon>
        <h2 matLine>Requirements</h2>
        <div matLine mat-caption>Jobs created by me</div>
    </mat-list-option>
    <mat-list-option [routerLinkActive]="['is-active']" routerLink="/fulfilled-reqs">
        <mat-icon matListIcon>today</mat-icon>
        <h2 matLine>Applications accepted</h2>
        <div matLine mat-caption>Accepted offers</div>
    </mat-list-option>
    <div class='divider' matLine></div>
    <mat-list-option [routerLinkActive]="['is-active']" routerLink="/open-apps">
        <mat-icon matListIcon>event_available</mat-icon>
        <h2 matLine>Can help</h2>
        <div matLine mat-caption>Can offer</div>
    </mat-list-option>
    <mat-list-option [routerLinkActive]="['is-active']" routerLink="/fulfilled-apps">
        <mat-icon matListIcon>calendar_month</mat-icon>
        <h2 matLine mat-headline>Appointments</h2>
        <div matLine mat-caption>Accepted requirements</div>
    </mat-list-option>
</mat-selection-list>
<div class='divider' matLine></div>