.example-card {
  
    margin-bottom: 8px;
  }
  .example-header-image {
    background-image: url('https://st3.depositphotos.com/1177973/18429/i/1600/depositphotos_184292800-stock-photo-paper-with-word-tuition.jpg');
    background-size: cover;
  }
