<div class='page-header'>
    <mat-card-header>
        <mat-card-title>My Applications</mat-card-title>
    </mat-card-header>
</div>

<div *ngIf="0===(applications$ | async)?.length">
    <div class='not-found'>
        You do not have any pending application to be accepted.
    </div>
</div>
<mat-selection-list [multiple]="false">
    <mat-list-option ngClass="mat-card" *ngFor="let application of applications$|async" class="application"
        routerLink='/app/{{application.id}}/{{application.jobType?.id}}'>


        <mat-icon mat-list-icon>
            <div>{{application.jobType?.iconName}}</div>
        </mat-icon>
        <h2 matLine>
            {{application.heading}}
        </h2>
        <div matLine>on {{format(application.day)}}</div>
        <div matLine>&nbsp;</div>
        <div mat-body-2 side="right" matLine>{{application.jobType?.type}}</div>

    </mat-list-option>
</mat-selection-list>