html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.page-header {
  margin: 1rem;
  align-content: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.not-found {
  margin: 1rem;
  align-content: center;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2rem;
  color: coral;
}
