<div class='page-header'>
    <mat-card-header>
        <mat-card-title>My Appointments</mat-card-title>
    </mat-card-header>
</div>

<div *ngIf="applications.length===0" class='not-found'>
    You dont have any appointments.
</div>

<mat-list>
    <mat-list-item ngClass="mat-card" *ngFor="let app of applications">

        <mat-icon mat-list-icon>{{app.requirement.jobType?.iconName}}</mat-icon>

        <div matLine>
            Thank you for helping {{app.requirement.user?.userName}} with {{app.application.jobType?.type}}.
        </div>
        <div matLine>&nbsp;</div>

        <div matLine>
            {{app.requirement.user?.firstName||app.requirement.user?.userName}}
            asked
            {{app.requirement.title}}
        </div>
        <div matLine>&nbsp;</div>
        <div matLine class='app-heading'>
            and accepted your help
            {{app.application.heading}}
        </div>
    </mat-list-item>
</mat-list>