<mat-card-header>
    <mat-card-title>My Appointments</mat-card-title>
</mat-card-header>
<mat-selection-list [multiple]="false" value="null">
    <mat-list-option *ngFor="let app of applications" class='app-match'>
        <div *ngIf="app ; else noapp">
           
            <mat-icon mat-list-icon>person</mat-icon>

            <div matLine>
                Thank you for helping {{app.requirement.user?.userName}} with {{app.application.jobType?.type}}
            </div>
            <div matLine>
                He asked for [ Title: {{app.requirement.title}} ]
            </div>
            <div matLine>
                and accepted your help [Heading: {{app.application.heading}}].
            </div>
        </div>

        <ng-template #noapp>
            No Appiontments yet.
        </ng-template>

    </mat-list-option>
</mat-selection-list>

